.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    
}
.prestacao{
    font-family: Arial, Helvetica, sans-serif;
    color: #1D3557;
    font-size: 20px;
    height: 200px;
}
.conta{
    font-size: 30px;
}
.titulo{
    color: #1D3557;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 50px;

}
.prestacao button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 8px;
    justify-content: center;
    padding: 11px;
    color: white;
    background-color: #E63946; 
    margin-top: 15px; 
}
.img{
    box-shadow: 2px 3px 3px rgb(71, 63, 63);
    border-radius: 50%;
}