.rodape {
    background: #e3434a;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none
}

/* ------- DESKTOP -------- */
.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #e3434a;
    padding: 56px 36px;
    border-bottom: white 1px solid;
}

.cabecalho h4 {
    color: white;
}

.cabecalho img {
    height: auto;
    width: 140px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.links ul {
    padding: 0;
    margin: 0;
}

.links li {
    list-style: none;
    margin-top: 10px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.85rem;
    color: white;
    text-decoration: none;
}

.fim {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 10px;
}

.fim {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fim p {
    font-size: smaller;

}

/* ===== MOBILE ===== */
@media (max-width: 600px) {

    .cabecalho {
        flex-direction: column;
        border-bottom: none;
        align-items: center;
        gap: 25px;
    }

    .cabecalho h3 {
        font-size: 20px;
        font-weight: normal;
        margin-top: 25px;
    }

    .rodape::after {
        display: none;
    }

    .links {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 20px;
    }
.links h4, .links a{
 font-size: 1.2rem;
}
    .fim {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        gap: 10px;
    }

    .fim::before {
        content: "";
        display: block;
        width: 85%;
        height: 1px;
        background-color: #fff;
        margin-bottom: 12px;
    }

}