.rodape {
    background: #e3434a;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.cabecalho img {
    height: 200px;
    width: 100px;
}

.cabecalho h3 {
    color: white;
    margin-top: 70px;
    padding-left: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    background: #e3434a;
}

.linha {
    width: 100%;
    border: 1px solid #fff;
}

.fim {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logos {
    height: 50px;
    width: 50px;
    margin: 50px 50px;
}
.logos:nth-child(1){
    height: 40px;
    width: 40px;
    /* margin-top: px; */
}
.fim h4 {
    color: white
}

.voltarTopo {
    color: white;
    text-decoration: none;
}
@media (max-width: 468px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }
    .cabecalho img {
        width: 75px;
        height: 150px;
    }
    .fim {
        flex-direction: column;
    }
    h3{
        display: none;
    }
    .fim h4 {
        font-size: 0.75rem;
    }
    .logos {
        height: 20px;
        width: 20px;
        margin: 10px 20px;
    }
    .logos:nth-child(1){
        height: 20px;
        width: 20px;
        margin-top: 52px;
    }
    .voltarTopo {
        display: inline-block;
    }
}