.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D3557;
    
}
.titulo1 {
    display: flex;
    flex-direction: row;
   
    
}
.imagem1{
    margin-left: 40px;
    border-radius: 2px;
}
.titulo1 p{
    display:flex ;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif; 
    color: #1D3557;
    
}
.titulo2{
    display: flex;
    flex-direction: row;
    
}
.t2 {
    margin-left: 40px;
   
}
.t2 p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D3557;

}