.corpo {
    background: #eefbe8;
    margin: 40px 0;
    padding: 50px 20px;
    text-align: center;
}

.titulo {
    color: #1D3557;
    margin-bottom: 30px;
    font-size: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.imagem {
    width: min(600px, 90%);
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

/* RESPONSIVIDADE */

/* Tablets */
@media (max-width: 768px) {
    .titulo {
        font-size: 1.8rem;
    }


}

/* Celulares */
@media (max-width: 480px) {
    .titulo {
        font-size: 1.6rem;
    }
}