* {
    font-family: 'Instrument Sans', sans-serif;
}

.Cards {
    display: flex;
    margin-top: 30px;
    column-gap: 50px;
    row-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #C4C4C4;
    /* Centraliza horizontalmente */
    width: 100%;
    /* Garante que ele use a largura total em telas pequenas */
    max-width: 440px;
    /* verificar se ficar 400px ou 600px */
    padding-bottom: 2.5%;
    border-radius: 2%;
}

.card:nth-child(4) {
    align-self: flex-end;
}

/* Imagem dentro do card */
.Cards .imagemLocal {
    max-width: 100%;
    height: 245px;
    width: 563px;
    border-radius: 8px;
    object-fit: cover;
}

/* Título do card */
.card h2 {
    color: black;
    font-size: 1.5rem;
    margin: 10px 0;
}

/* Texto do card */
.card p {
    color: #333333;
    font-size: 1rem;
}

.card button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    padding: 4px;
    color: white;
    background-color: #E63946;
}

/* ===========================
   CELULAR ATÉ 576px
   =========================== */
@media (max-width: 576px) {
    .Cards {
        flex-direction: column;
        /* Coloca um card por linha */
        align-items: center;
        /* Centraliza tudo */
        gap: 20px;
        /* Espaço entre os cards */
        margin-top: 20px;
    }

    .card {
        max-width: 90%;
        /* Card ocupa quase toda a tela */
        gap: 20px;
        padding: 20px;
    }

    /* imagem dentro do card */
    .Cards .imagemLocal {
        width: 100%;
        /* ocupa a largura do card */
        height: 180px;
        /* altura reduzida */
        object-fit: cover;
    }

    .card h2 {
        font-size: 1.2rem;
        /* título menor */
        text-align: center;
    }

    .card p {
        font-size: 0.9rem;
        /* texto menor e confortável */
        text-align: center;
    }

    .card button {
        padding: 8px 12px;
        /* botão maior no mobile */
        font-size: 0.9rem;
    }
}