.corpo {
    background: #e3434a;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 20px;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.cabecalho h1 {
    color: white;
}

.cabecalho h3 {
    margin-top: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: white;
}

.card img {
    max-width: 100%;
    margin: 0 auto 15px auto;
}

.botao {
    background: #518fff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 7px;
}

.botao2 {

    background: #518fff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 7px;
}