#root {
  background-color: #F1FAEE;
  margin: 0 auto;
  text-align: center;
}

.containerPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
}